{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@ianvs/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^react",
        "^next",
        "^next-auth",
        "clsx",
        "",
        "lucide-react",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "@/lib/(.*)$",
        "@/utils/(.*)$",
        "@/helpers/(.*)$",
        "",
        "@/app/(.*)$",
        "",
        "^\\./",
        "^\\../"
    ]
}